name: Renovate

on:
  schedule:
    # Run every day at 2am
    - cron: '0 2 * * *'
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write
  actions: write
  checks: write

env:
  # Log level (debug, info, warn, error, fatal)
  LOG_LEVEL: debug
  # Dry run mode (true to verify without creating PRs, false to run for real)
  RENOVATE_DRY_RUN: false
  # Automatically discover repo settings
  RENOVATE_AUTODISCOVER: true
  # Use the token for authentication (defaults to github-action's token)
  RENOVATE_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@8cb0d4a6ab7d8bb90460a005f7bd33b80dd07ca8 # v44.2.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
